body {
    font-family: "Inconsolata", monospace;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}

h1, h2, h3 {
    line-height: 1.2
}

pre {
    border: 1px solid #ddd;
    box-shadow: 5px 5px 5px #eee;
    padding: 1em;
    overflow-x: auto;
    background: #fdf6e3;
}

code {
    background: #fdf6e3;
}

table {
    margin: auto;
    box-shadow: 5px 5px 5px #eee;
}

th, td {
    padding: 5px;
}

thead, tfoot, tr:nth-child(even) {
    background: #fdf6e3;
}
