{{ partial "header.html" . }}

<header>
    <h1>{{ .Title }}</h1>
    {{ if .Params.date }}<p>{{ .Date.Format "2006/01/02" }}</p>{{ end }}
    {{ with .Params.author }}<p>{{ . }}</p>{{ end }}
</header>

<main>
    {{ .Content }}
</main>

{{ partial "footer.html" . }}
