{{ partial "header.html" . }}

<header>
    <h1>{{ .Site.Title }}</h1>
</header>

<div class="posts">
    {{ range sort .Paginator.Pages }}
    <article>
        <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
        <p>{{ .Date.Format "2006-01-02" }}</p>
        <div class="content">
            {{ .Summary | plainify | safeHTML }}
            {{ if .Truncated }}
            <a href="{{ .Permalink }}">
                Read more ...
            </a>
            {{ end }}
        </div>
    </article>
    {{ end }}
</div>

{{ partial "footer.html" . }}
